body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

stuff {
  font-size: .5em;
  max-width: 40em;
  margin: 20vh auto;
  padding: 0 2.5em;
  color: #05efe2;
  border: none;
  text-decoration: none;
  font-family: Heebo,sans-serif;
  -webkit-font-smoothing: antialiased;
}